[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/basovnikita/app
ExecStart=/home/basovnikita/app/venv/bin/pithon run.py

[Install]
WantedBy=multi-user.target