[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/cloud-ba5ov-nikita/app
ExecStart=/home/cloud-ba5ov-nikita/app/venv/bin/pithon run.py

[Install]
WantedBy=multi-user.target